'.source.json':
    'package.json':
        'prefix':'package author'
        "body": """
                "scripts":{
                    "test":"echo \"Error: no test specified\" && exit 1"
                }
                """
